# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Conda
conda-meta/
*.conda

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dataset (do NOT commit large data)
dataset/images/
dataset/labels/
dataset/images2/
dataset/labels2/
dataset/train/
dataset/validation/
dataset/valid/
dataset/test/

# YOLO outputs
runs/

# Models
models/*.pt

# Logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/
