# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Conda
conda-meta/
*.conda

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dataset (do NOT commit large data)
dataset/raw/images/*
dataset/raw/labels/*
dataset/enhanced/
dataset/splits/
dataset/train/
dataset/validation/
dataset/valid/
dataset/val/
dataset/test/
inference/input_detect_images/*
inference/output_detect_images/*

# YOLO outputs
runs/

# Models
models/*.pt

# Logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/
